<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registra Usuario</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="txtemail">Email</label>
        <input type="email" name="txtemail" id="txtemail">
        <label for="txtsenha">Senha</label>
        <input type="password" name="txtsenha" id="txtsenha">
        <input type="submit" name="" id="">
    </form>
    <a href="/cadastrar">Cadastrar-se</a>
</body>
</html>