<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registra Grupo</title>
</head>
<body>
    <form action="/registrargrupos" method="post">
        <label for="txtnome">Nome</label>
        <input type="text" name="txtnome" id="txtnome">
        <label for="txtdesc">Descricao</label>
        <input type="text" name="txtdesc" id="txtdesc">
        <input type="submit" name="" id="">
    </form>
</body>
</html>